body{
    background-color: rgb(228, 223, 223);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover{
    background: #c2c2c2;
    text-decoration: none;
    cursor: pointer;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubutton-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 450px;
}

.menu-button{
    background: rgb(228, 223, 223);
    border: solid black 2px;
    color: black;
}

.game-window{
    background-color: black;
    border: 5px solid grey;
    box-shadow: 2px 2px 5px rgb(183, 176, 176);
    color: white;
    display: flex;
    height: 450px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.info-window{
    border: 5px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 250px;
}

.info-text{
    font-size: 1.5rem;
}

.info-button{
    margin-bottom: 20px;
    background: black;
    border: solid #ffffff 5px;
    color: white;
}


.info-button:active{
    background: black;
    text-decoration: none;
    cursor: pointer;
}

.score-window{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}

.game-board{
    display : none;
    height: 100%;
    width : 100%;
    position: relative;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
}

.snake-element{
    display: none;
    background-color: greenyellow;
    border-radius: 15%;
    grid-column: none;
    grid-row: none;
}

.food-element{
    display: none;
    background-color: red;
    border-radius: 35%;
    grid-column: none;
    grid-row: none;
}
